<ul>
  <li>
    <a routerLink="/track-by">*ngFor指令使用trackBy</a>
  </li>
  <li>
    <a routerLink="/hooks/all-hooks">all hooks</a>
  </li>
  <li>
    <a routerLink="/hooks/init-destroy">onInit onDestroy</a>
  </li>
  <li>
    <a routerLink="/hooks/changes">changes</a>
  </li>
  <li>
    <a routerLink="/hooks/do-check">doCheck</a>
  </li>
  <li>
    <a routerLink="/hooks/after-view">afterView</a>
  </li>
  <li>
    <a routerLink="/hooks/after-content">afterContent</a>
  </li>
  <li>
    <a routerLink="/interaction/service-communicate">父、子组件通过服务通信</a>
  </li>
  <li>
    <a routerLink="/component-style/hero-tour">组件样式</a>
  </li>
  <li>
      <a routerLink="/custom-element/index">自定义元素</a>
    </li>
  <li>
    <a routerLink="/dynamic-component/index">动态组件</a>
  </li>
  <li>
    <a routerLink="/structural-directive/unless">结构型指令</a>
  </li>
</ul>
<hr/>
<router-outlet></router-outlet>